body {
    font-family: 'Spectral SC', serif;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: grey;
}
.navbar-brand {
    font-size: 2.3em;
}
nav {
    box-shadow: 0 1px 5px 0px black;
    z-index: 10000;
}
#intro {
    height: 100vh;
    background: url('../assets/intro.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
@media (max-width: 768px) {
    #intro {
        background-size: auto;
    }
    #intro h1 {
      font-size: 1.7em;
    }
}
#intro h1 {
    font-weight: bold;
    /* text-align: center; */
    display: inline-block;
    position: absolute;
    bottom: 2em;
    left: 1.5em;
    color: white;
}
h2 {
    margin: 1em 0;
} 
#who-am-i  {
    height: 100vh;
}
#who-am-i:before {
    content:"";
    display:block;
    height:75px; /* fixed header height*/
    margin:-75px 0 0; /* negative fixed header height */
    }
#experience {
    min-height: 100vh;
}
#experience:before {
    content:"";
    display:block;
    height:75px; /* fixed header height*/
    margin:-75px 0 0; /* negative fixed header height */
    }
#experience .scale {
 transition: .5s ease-in-out;
}
#experience .scale:hover {
 transform: scale(1.05);
}
@media (max-width: 768px) {
    body {
        overflow: visible;
    }
    #intro {
        height: 100vh;
        background: url('../assets/intro.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
    }
}