@import url('https://fonts.googleapis.com/css?family=Lato:400,900|PT+Sans:700i');

body {
    font-family: 'Lato', sans-serif;
}

.pt {
    font-family: 'PT Sans', sans-serif;
}
nav {
    z-index: 100000;
    margin-bottom: 74px;
}
.title {
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 0;
}
.bg-light {
background: #f85032;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 0 0px 10px -3px black;


}

.nav-icon {
    margin-right: 1em;
    font-size: 2.4em;
    color: white;
    transition: .2s ease-in-out;
}
.nav-icon:hover {
    transform: scale(1.3);
}

#part1 {
    height: calc(100vh) ;
  background: url('../assets/main.jpg') no-repeat center center;
  background-size: cover;
}

.center {
    text-align: center;
}
.title-p1 {
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0 0 5px black;  
    /* BG */
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    border-radius: .5em .5em 0 0 ;
    padding: .5em;
}
h1 {
    color: white;
}
h2 {
    color: white;
    text-shadow: 0 0 5px black;
}

/* PART 2 */
#part2 {
    height: calc(100vh) ;
  background: url('../assets/main.jpg') no-repeat center center;
  background-size: cover;
  margin-top: -2px;
}
#part3 {
    height: calc(100vh) ;
  background: url('../assets/section3.png') no-repeat center center;
  background-size: cover;
  margin-top: -2px;

  position: relative
}
#part3 center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#part4 {
    height: calc(100vh) ;
  background: url('../assets/main.jpg') no-repeat center center;
  background-size: cover;
  margin-top: -2px;

  position: relative
}
.jumbpos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbpos h1 {
  text-align: center;
  text-shadow: 0 0 5px black;  

}
.jumbotron {
    /* BG */
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1em;
}
.btn-primary {
    color: #800D0D;
    background-color: #FFFEFE;
    border-color: #FFFFFF;
    font-weight: bold;
}
.premio {
    text-align: center;
}
.premio img {
    width: 280px;
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: red;
    padding: 1em 0 0 0 ;
    color: white; 
}
footer a {
    color: #eaeaea;
}
footer i {
    padding: 0 .5em; 
}