/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Lato:400,900');
body {
    font-family: 'Lato', sans-serif;  
    height: 100%;
}
/* REST */
.navbar {
    font-weight: bold;
    z-index: 100;
}
.navbar ul li {
   color: rgba(234, 234, 234, 0.7);
   transition: .3s ease-in-out;
   font-size: 1.6em;
   margin-left: .5em;
}
.navbar ul li a:hover {
    color: white;
    transform: scale(1.05)
 }
.navbar-brand img{
    max-width: 9rem;
}
.center {
    position: relative;
}
.center p {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-105%, -50%);
    color: #a6a6a6;
    
}
.img {
    position: fixed;
    top: 50%; left: 50%;
    background: url('../assets/humble.jpg') no-repeat center center;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0, 0, 0, 0.81) 0%,rgba(0, 0, 0, 0.46) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#main {
    margin-top: 3em;
    position: relative;
       z-index: 100000;
 
}
.main-title {
    color: white;
    margin-bottom: 1em;
}
.main-title h1 span{
    font-weight: bold;
}

.vapetext{
    margin-top: 4em;
}
.vapetext span{
    color: white;
}
.vapeimg {
    width: 11em;
    text-align: center;
}
#form {
    position: relative;
    z-index: 100000000;
}
.participa {
    margin-bottom: .7em;
    text-align: center;
    color: white;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #051500;
    background-color: rgba(255, 255, 255, 0.46);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-primary {
    color: #fff;
    background-color: #4b0402;
    border-color: #580d00;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5a2f4e;
    border-color: #432840;
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #681000;
    background-image: none;
    border-color: #601002;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 0.5em 0;
    z-index: 100000;
}
footer span {
    margin-left:2em;
    color: #777777;
}
footer a { 
    text-decoration: none;
    color: #ADADAD;
    font-weight: bold;
}
footer li {
    font-size: 1.1em;
    margin: 0 0.4em;
    color: rgba(255, 255, 255, 0.58);
    
}
.fa-heart {
    color: red!important;
}
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
