/* FUENTES */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

nav a{
    color: white!important;
}
/* cabin */
.cabin {
    font-family: 'Cabin', sans-serif;
}
.cabin .b {
    font-weight: bold;
    font-size: 1.3em;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.lato .b {
    font-weight: bold;
    font-size: 1.3em;
}
.pt {
    font-family: 'PT Sans', sans-serif;  
}
.pt .b {
    font-weight: bold;
    font-size: 1.3em;
}
body {
    height: 100%;
  padding-top: 7em;

}
section {
    height: 100vh;
    border-top: 120px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.fixed-top {
    box-shadow: 0 -4px 16px black;
}

.title {
    margin-bottom: 2em;
}
#header {
}
.sub-title {
    margin-left: 1em; 
    margin-bottom: 1.5em;
}
.sub-title h1 {
    font-size: 2em;
    font-weight: 500;
}
.card {
    margin-bottom: 2em;
}
.colors {
    margin-top: 7em;
}
.color {
    box-shadow: 0 1px 6px black;
   
}
#paleta .color {
    width: 8rem;
    height: 8rem;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.color h2 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
}
.fonts h2 {
    font-size: 3em;
}
.fonts .separator {
    text-align: right;
    border-right: 1px solid black;
}
.no-separator {
    text-align: left;
}

.btn-light {
    color: #111;
    background-color: #f8f9fa;
    border-color: #1c2125;
}
.div-responsive {
 text-align: right;
}
.img-responsive {
    max-height: 40vh;
    margin: 0 auto;
}