/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
body {
    font-family: 'Cabin', sans-serif;  
    height: 100%;
}
/* REST */
.navbar {
    font-weight: bold;
    z-index: 100;
}
.navbar ul li {
   color: rgba(234, 234, 234, 0.7);
   transition: .3s ease-in-out;
   font-size: 1.6em;
   margin-left: .5em;
}
.navbar ul li a:hover {
    color: white;
    transform: scale(1.05)
 }
.navbar-brand img{
    max-width: 9rem;
}
.center {
    position: relative;
}
.center p {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-105%, -50%);
    color: #a6a6a6;
    
}
.video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
#main {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
 
}
.centered-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-35%, -50%);
    color: white;
    min-width: 60vw;
}
.father {
    position: relative;
}
.first-text {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: right;
    margin-right: 1em;
    text-align: right;
    padding-right: 2em;
    border-right: 2px solid #B8B8B8;
}
.first-text h3 {
   font-size: 1em;
   line-height: 1.4em;
}
.form-control {
    display: block;
    width: 80%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    background-clip: padding-box;
    border: 3px solid rgb(255, 255, 255);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white!important;
  }
  .form-control:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.33);
    border-color: rgba(0, 0, 0, 0.45);
    outline: 0;
}

/* BOTON DE SEND */
.btn-primary {
    color: #fff;
    background-color: rgba(0, 123, 255, 0);
    border-color: #ffffff;
    text-transform: uppercase;
}
.btn-primary:hover {
    color: #000;
    background-color: #fafafa;
    border-color: rgba(255, 255, 255, 0.25);
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #ffffff;
    background-image: none;
    border-color: #ffffff;
    color: black;
    font-weight: bold;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: .5em 0;
    z-index: 100000;
}
footer span {
    color: #777777;
}
footer a { 
    text-decoration: none;
    color: #ADADAD;
    font-weight: bold;
}
.fa-heart {
    color: red!important;
}